@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.board-container {
  /* margin: 1rem; */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* margin: 24px; */
}

.header{
  background: white;
  width: 100vw;
}

.topButton{
  padding: 0px 30px;
  margin: 10px 24px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  align-items:center;
  display: flex;
  gap: 14px;
}

.board {
  display: flex;
  overflow-x: auto; 
  gap: 24px;
  background-color: rgb(234, 234, 234);
  padding: 24px;
  min-height: screen;
}

.count{
  background-color: white;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: gray;
}

.column-header {
  text-align: center;
  padding: 0 1rem;
  width: 250px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-header-left{
  gap: 8px;
  display: flex;
  align-items: center;
}
.col-header-right{
  gap: 14px;
  display: flex;
  align-items: center;
}